@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --header-bg: #3ebfff;
  --feedback-text-color: hsl(232, 10%, 55%);
  --footer-logo-color: hsl(167, 40%, 24%);
  --footer-text-color: hsl(168, 34%, 41%);
  --menu-section-bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 100%);
  --footer-bg: #8de0c4;
  --container-bg: #fffbf8;
  --contact-text-color: hsl(212, 27%, 19%);
  --section-text-color: hsl(210, 4%, 67%);
  --contact-button-bg-color: hsl(51, 100%, 49%);
}

html {
  font-size: 18px;
}

body {
  font-family: var(--barlow-font);
  line-height: 1.5;
  overflow-x: hidden;
}